A:HOVER{                                                      
  color:#000099;
  text-decoration:none;}
A:LINK{
  text-decoration:none;
  color:#000000;}
A:ACTIVE{
  text-decoration:none;
  color:#000000;}
A:VISITED{
  text-decoration:none;
  }


a.celeste:HOVER{                                                      
  color:#99CCFF;
  text-decoration:none;}
a.celeste:LINK{
  text-decoration:none;
  color:#CCCCCC;}
a.celeste:ACTIVE{
  text-decoration:none;
  color:#CCCCCC;}
a.celeste:VISITED{
  text-decoration:none;
 }


A.bordo:HOVER{                                                      
  color:#FF0000;
  text-decoration:none;}
A.bordo:LINK{
  text-decoration:none;
  color:#666666;}
A.bordo:ACTIVE{
  text-decoration:none;
  color:#CCCCCC;}
A.bordo:VISITED{
	text-decoration:none;
	color:#666666;}

A.bordo1:HOVER{                                                      
  color:#FF0000;
  text-decoration:none;}
A.bordo1:LINK{
	color:#CCCCCC;
	text-decoration:none;}
A.bordo1:ACTIVE{
  color:#CCCCCC;
	text-decoration:none;}
A.bordo1:VISITED{
	text-decoration:none;}



  
  
  
.t1 {font-family: verdana; font-size: 8pt; color: #ffffff}
.t2 {font-family: verdana; font-size: 8pt; color: #000000}
.t3 {font-family: verdana; font-size: 12pt; color: #ffffff}
.t4 {font-family: verdana; font-size: 7pt; color: #CCCCCC}
.t5 {font-family: verdana; font-size: 8pt; }
.t5a {font-family: verdana;font-size: 8pt;}
.t5b {font-family: verdana;font-size: 8pt;color: #CCCCCC;}
.t6 {font-family: verdana; font-size: 8.5pt;}
.t7 {font-family: verdana; font-size: 8.5pt;}
.t7a{font-family: verdana; font-size: 11pt;color: #CCCCCC}
.t8 {font-family: verdana;font-size: 8pt;color: #666666;}
.t9 {font-family: verdana; font-size: 1pt;}
.ta {font-family: verdana; font-size: 8pt; color: #FFFFFF}
.tb {font-family: verdana; font-size: 7.5pt; color: #194E70; line-height: 0pt;}
.tc {font-family: verdana; font-size: 7.5pt; color: #000000;}
.tf {font-family: verdana; font-size: 7.5pt; color: #000000}
.t20 {font-family:verdana; font-size:10px; color:#666666; line-height:18px; }
.Estilo1 {color: #0000FF; font-family: arial; font-size:16px; }
.Estilo5 {color: #008000; font-size: 14px; font-family: arial; }
.Estilo6 {color: #02592E; font-weight: bold; font-family: arial; font-size: 16px;}
.Estilo20 {color: #0000FF; font-family: verdana; font-size:11px; }

.f5 {font-family: verdana; font-size: 8pt; color: #2d4173}
.d {font-family: verdana; font-size: 9pt; color: #000000}
.e {font-family: verdana; font-size: 8pt; color: #000000; line-height: 14pt;}



.margen1 {padding-top: 5pt; color: #0000FF}

a.link01a:link, a.link01a:visited {  font-family:Verdana; font-size:10px; color:#666666; text-decoration:none; }
a.link01a:hover {  font-family:Verdana; font-size:10px; color:#666666; text-decoration:underline; }


.form { 
border:2px solid #006699; 
color: #000000; 
font-family: Verdana; 
background-color: #ffffff; 
font-size:8pt }

.form2 { 
border:2px solid #000000; 
color: #ffffff; 
font-family: Verdana; 
background-color: #006699; 
font-size:8.5pt }


.form3 { 
border:2px solid #006699; 
color: #2d4173; 
font-family: Verdana; 
background-color: #ffffff; 
font-size:8pt }

.form4 { 
border:2px solid #2d4173; 
color: #ffffff; 
font-family: Verdana; 
background-color: #006699; 
font-size:8.5pt }




.combo { 
font-family: Verdana,Arial; 
font-size: 8pt; 
color: #2d4173; 
background-color: #ffffff; 
border:2px solid #006699; 
}
.comboresaltado { 
font-family: Verdana,Arial; 
color: #2d4173; 
background-color: #ffffff; 
border:#ffffff; 
}
.combotitulo { 
font-family: Verdana,Arial; 
color: #2d4173; 
background-color: #ffffff; 
border:#ffffff; 
}


