<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/metalsoft</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.search.autoregister_listeners">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.connection.pool_size">1</property>
    <mapping resource="pojos/Planificacionproduccion.hbm.xml"/>
    <mapping resource="pojos/Tipoiva.hbm.xml"/>
    <mapping resource="pojos/Producto.hbm.xml"/>
    <mapping resource="pojos/Cargo.hbm.xml"/>
    <mapping resource="pojos/Piezareal.hbm.xml"/>
    <mapping resource="pojos/Prueba.hbm.xml"/>
    <mapping resource="pojos/Provincia.hbm.xml"/>
    <mapping resource="pojos/Tipomaquina.hbm.xml"/>
    <mapping resource="pojos/Presupuesto.hbm.xml"/>
    <mapping resource="pojos/Estadodetallecompra.hbm.xml"/>
    <mapping resource="pojos/Detalleproductopresupuesto.hbm.xml"/>
    <mapping resource="pojos/Estadodetalletrabajotercerizado.hbm.xml"/>
    <mapping resource="pojos/Empleado.hbm.xml"/>
    <mapping resource="pojos/Maquinaxejecucionetapaproduccion.hbm.xml"/>
    <mapping resource="pojos/Detallepresupuesto.hbm.xml"/>
    <mapping resource="pojos/Turno.hbm.xml"/>
    <mapping resource="pojos/Detallereclamoempresametalurgica.hbm.xml"/>
    <mapping resource="pojos/Asistencia.hbm.xml"/>
    <mapping resource="pojos/Privilegio.hbm.xml"/>
    <mapping resource="pojos/Detallefactura.hbm.xml"/>
    <mapping resource="pojos/Detallemantenimientocorrectivo.hbm.xml"/>
    <mapping resource="pojos/Formadepago.hbm.xml"/>
    <mapping resource="pojos/Estadofactura.hbm.xml"/>
    <mapping resource="pojos/Pedidomatriz.hbm.xml"/>
    <mapping resource="pojos/Usuario.hbm.xml"/>
    <mapping resource="pojos/Reclamocliente.hbm.xml"/>
    <mapping resource="pojos/Proveedormantenimientomaquina.hbm.xml"/>
    <mapping resource="pojos/Detalleplanprocedimientos.hbm.xml"/>
    <mapping resource="pojos/Maquinaxprocesocalidad.hbm.xml"/>
    <mapping resource="pojos/Localidad.hbm.xml"/>
    <mapping resource="pojos/Condicioniva.hbm.xml"/>
    <mapping resource="pojos/Estadomaquina.hbm.xml"/>
    <mapping resource="pojos/Factura.hbm.xml"/>
    <mapping resource="pojos/Estadocompra.hbm.xml"/>
    <mapping resource="pojos/Mantenimientopreventivo.hbm.xml"/>
    <mapping resource="pojos/Detallereclamoproveedor.hbm.xml"/>
    <mapping resource="pojos/Plano.hbm.xml"/>
    <mapping resource="pojos/Detalleejecucionplanificacioncalidad.hbm.xml"/>
    <mapping resource="pojos/Sesion.hbm.xml"/>
    <mapping resource="pojos/Tipodocumento.hbm.xml"/>
    <mapping resource="pojos/Barrio.hbm.xml"/>
    <mapping resource="pojos/Estadoejecucionprocesocalidad.hbm.xml"/>
    <mapping resource="pojos/Matriz.hbm.xml"/>
    <mapping resource="pojos/Detalleplanificacioncalidad.hbm.xml"/>
    <mapping resource="pojos/Materiaprima.hbm.xml"/>
    <mapping resource="pojos/Detalletrabajotercerizado.hbm.xml"/>
    <mapping resource="pojos/Domicilio.hbm.xml"/>
    <mapping resource="pojos/Pieza.hbm.xml"/>
    <mapping resource="pojos/Prioridad.hbm.xml"/>
    <mapping resource="pojos/Detallemantenimientopreventivo.hbm.xml"/>
    <mapping resource="pojos/Detallereclamocliente.hbm.xml"/>
    <mapping resource="pojos/Detalleejecucionplanificacion.hbm.xml"/>
    <mapping resource="pojos/Pedido.hbm.xml"/>
    <mapping resource="pojos/Ejecucionetapaproduccion.hbm.xml"/>
    <mapping resource="pojos/Servicio.hbm.xml"/>
    <mapping resource="pojos/Detalleproductoreal.hbm.xml"/>
    <mapping resource="pojos/Detalleremito.hbm.xml"/>
    <mapping resource="pojos/Proveedor.hbm.xml"/>
    <mapping resource="pojos/Empresametalurgica.hbm.xml"/>
    <mapping resource="pojos/Estadotrabajotercerizado.hbm.xml"/>
    <mapping resource="pojos/Detalleproducto.hbm.xml"/>
    <mapping resource="pojos/Reclamoproveedor.hbm.xml"/>
    <mapping resource="pojos/Detallecompra.hbm.xml"/>
    <mapping resource="pojos/Rotura.hbm.xml"/>
    <mapping resource="pojos/Detallepiezapresupuesto.hbm.xml"/>
    <mapping resource="pojos/Detallempasignada.hbm.xml"/>
    <mapping resource="pojos/Ejecucionprocesocalidad.hbm.xml"/>
    <mapping resource="pojos/Estadoplanificacionproduccion.hbm.xml"/>
    <mapping resource="pojos/Detalleplanificacionproduccion.hbm.xml"/>
    <mapping resource="pojos/Remito.hbm.xml"/>
    <mapping resource="pojos/Maquina.hbm.xml"/>
    <mapping resource="pojos/Detallepiezacalidadpresupuesto.hbm.xml"/>
    <mapping resource="pojos/Cliente.hbm.xml"/>
    <mapping resource="pojos/Planificacioncalidad.hbm.xml"/>
    <mapping resource="pojos/Rol.hbm.xml"/>
    <mapping resource="pojos/Detallepedido.hbm.xml"/>
    <mapping resource="pojos/Planrequerimientosmateriaprima.hbm.xml"/>
    <mapping resource="pojos/Etapadeproduccion.hbm.xml"/>
    <mapping resource="pojos/Estadocliente.hbm.xml"/>
    <mapping resource="pojos/Estadoejecplanifpedido.hbm.xml"/>
    <mapping resource="pojos/Estadoejecplancalidad.hbm.xml"/>
    <mapping resource="pojos/Estadopiezareal.hbm.xml"/>
    <mapping resource="pojos/Mantenimientocorrectivo.hbm.xml"/>
    <mapping resource="pojos/Disponibilidadhoraria.hbm.xml"/>
    <mapping resource="pojos/Estadopedido.hbm.xml"/>
    <mapping resource="pojos/Marca.hbm.xml"/>
    <mapping resource="pojos/Piezaxetapadeproduccion.hbm.xml"/>
    <mapping resource="pojos/Trabajotercerizado.hbm.xml"/>
    <mapping resource="pojos/Unidadmedida.hbm.xml"/>
    <mapping resource="pojos/Productoreal.hbm.xml"/>
    <mapping resource="pojos/Reclamoempresametalurgica.hbm.xml"/>
    <mapping resource="pojos/Codigodebarra.hbm.xml"/>
    <mapping resource="pojos/Comprobantepago.hbm.xml"/>
    <mapping resource="pojos/Responsable.hbm.xml"/>
    <mapping resource="pojos/Tiporeclamo.hbm.xml"/>
    <mapping resource="pojos/Planprocesoscalidad.hbm.xml"/>
    <mapping resource="pojos/Ejecucionplanificacionproduccion.hbm.xml"/>
    <mapping resource="pojos/Estadoejecetapaprod.hbm.xml"/>
    <mapping resource="pojos/Compra.hbm.xml"/>
    <mapping resource="pojos/Categoria.hbm.xml"/>
    <mapping resource="pojos/Ejecucionplanificacioncalidad.hbm.xml"/>
    <mapping resource="pojos/Procesocalidad.hbm.xml"/>
    <mapping resource="pojos/Estadoproductoreal.hbm.xml"/>
    <mapping resource="pojos/Mpasignadaxpiezareal.hbm.xml"/>
    <mapping resource="pojos/Proveedorxmateriaprima.hbm.xml"/>
    <mapping resource="pojos/Calendario.hbm.xml"/>
    <mapping resource="pojos/Detallerequerimientosmateriaprima.hbm.xml"/>
    <mapping resource="pojos/Tipomaterial.hbm.xml"/>
    <mapping resource="pojos/Accioncalidad.hbm.xml"/>
    <mapping resource="pojos/Estadoremito.hbm.xml"/>
    <mapping resource="pojos/Planprocedimientos.hbm.xml"/>
    <mapping resource="pojos/Detalleplanprocesoscalidad.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
