.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	padding-right: 15px;
	padding-left: 25px;

}
.naranja {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFCC00;
	text-decoration: none;
	line-height: 20px;
	padding-right: 5px;
	padding-left: 0px;
	font-weight: normal;
}
.foto {
	border: 1px solid #FFFFFF;
}
.textobold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	padding-right: 0px;
	padding-left: 0px;
	font-style: normal;
	font-weight: bold;
}
.encabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #023668;
	line-height: 16px;
	margin-left: 14px;






}
.encabezadobold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #BBBBBB;
	line-height: 16px;
	font-weight: bold;
}
.base {
	border-bottom: 1px solid #5F6D7A;
}
.top {
	border-bottom: #5F6D7A;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #5F6D7A;
	border-right-color: #5F6D7A;
	border-left-color: #5F6D7A;
}
.naranjatitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFCC00;
	text-decoration: none;
	line-height: 20px;
	padding-right: 5px;
	padding-left: 0px;
	font-weight: bold;
	font-variant: normal;
}
.blanco {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	padding-right: 5px;
	padding-left: 0px;
	font-weight: normal;
}
.blancotitulo {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
	padding-right: 5px;
	padding-left: 0px;
	font-weight: bold;
	font-variant: normal;
}
.campo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #586F81;
	border: 1px solid #586F81;
	height: 20px;
	width: 200px;
}
.requerimientos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #BBBBBB;
	text-decoration: none;
	font-weight: normal;
}
.encabezadoCopy {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #023668;
	line-height: 16px;
	margin-left: 14px;
}
.naranjatituloCopy {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #586F81;
	text-decoration: none;
	line-height: 20px;
	padding-right: 5px;
	padding-left: 0px;
	font-weight: bold;
	font-variant: normal;
}
